@use "@/styles/abstract/mixins" as mix;

.use_cases {
  .block {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mix.mobile {
      grid-template-columns: 1fr;
    }
  }

  .block_text {
    max-width: 63%;
    margin: auto;
    font-weight: bold;

    @include mix.mobile {
      padding: 2rem;
      max-width: unset;
      text-align: center;
      order: 1;
    }

    h2 {
      font-size: 2.6rem;
      color: #37517e;

      @include mix.mobile {
        font-size: 1.8rem;
      }
    }

    h3 {
      margin-top: 1rem;
      font-size: 1.25rem;
      color: #37517e;
    }

    p {
      margin-top: 1rem;
      color: #5d7079;
    }
  }

  .block_image {
    img {
      width: 100%;
      height: 800px;
      object-fit: cover;

      @include mix.mobile {
        height: 350px;
      }
    }
  }
}
