@use "@/styles/abstract/mixins" as mix;

.use_case {
  display: grid;

  @include mix.desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.text {
  max-width: 63%;
  margin: auto;
  font-weight: bold;

  @include mix.mobile {
    padding: 2rem;
    max-width: unset;
    text-align: center;
    order: 1;
  }
}

.title {
  font-size: 2.6rem;
  color: var(--clr-primary-400);

  @include mix.mobile {
    font-size: 1.8rem;
  }
}

.description {
  margin-top: 1rem;
  color: var(--clr-neutral-700);
}

.image {
  position: relative;
  width: 100%;
  height: 50rem; /* 800px */

  @include mix.mobile {
    height: 22rem; /* 352px */
    order: 2;
  }

  img {
    object-fit: cover;
  }
}
