@use "@/styles/abstract/mixins" as mix;

.use_cases {
  .block {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mix.mobile {
      grid-template-columns: 1fr;
    }
  }

  .nofees {
    padding-block: 2.5rem;
    background-color: #86a7bd1a;
    text-align: center;

    h3 {
      margin-bottom: 0.75rem;
      font-size: 1.25rem;
      font-weight: 700;
      color: #37517e;
    }

    p {
      font-size: 0.9rem;
      color: #5d7079;
    }
  }

  .block_text {
    max-width: 63%;
    margin: auto;
    font-weight: bold;

    @include mix.mobile {
      padding: 2rem;
      max-width: unset;
      text-align: center;
      order: 1;
    }

    h2 {
      font-size: 2.6rem;
      color: #37517e;

      @include mix.mobile {
        font-size: 1.8rem;
      }
    }

    h3 {
      margin-top: 1rem;
      font-size: 1.25rem;
      color: #37517e;
    }

    p {
      margin-top: 1rem;
      color: #5d7079;
    }
  }

  .block_image {
    img {
      width: 100%;
      height: 800px;
      object-fit: cover;

      @include mix.mobile {
        height: 350px;
      }
    }
  }

  .double {
    background-color: rgba(134, 167, 189, 0.1019607843);
    text-align: center;
    padding-block: 4rem;

    > div {
      display: flex;
      justify-content: space-between;

      @include mix.mobile {
        flex-direction: column;
        gap: 4rem;
      }
    }
  }

  .item {
    padding-inline: 4rem;
    font-weight: 600;

    h2 {
      font-size: 1.6rem;
      color: #37517e;
      margin-bottom: 0.5rem;

      @include mix.mobile {
        font-size: 1.8rem;
      }
    }

    p {
      color: #5d7079;
    }

    svg {
      font-size: 4rem;
      color: #37517e;
    }
  }
}
