.footer {
  padding-block: 1rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
