.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 0.25rem;
  padding-right: 0.75rem;
  background-color: var(--clr-neutral-100);

  font-weight: bold;
  color: var(--clr-primary-400);
  border-radius: 0.5rem;
  cursor: pointer;
}
