// Import Fonts
@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Mulish;
  src: url("/fonts/Mulish/Mulish-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
