@use "@/styles/abstract/mixins" as mix;

.mini_cases {
  background-color: rgba(134, 167, 189, 0.1019607843);
  text-align: center;
  padding-block: 4rem;

  .wrapper {
    display: flex;
    justify-content: space-between;

    @include mix.mobile {
      flex-direction: column;
      gap: 4rem;
    }
  }

  .item {
    padding-inline: 4rem;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 1.6rem;
      color: #37517e;
      margin-bottom: 0.5rem;

      @include mix.mobile {
        font-size: 1.8rem;
      }
    }

    p {
      color: #5d7079;
    }

    img {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
    }
  }

  .image {
    position: relative;
    width: 150px;
    height: 150px;
  }
}
