@use "@/styles/abstract/mixins" as mix;

.mini_cases {
  background-color: var(--clr-background);
  padding-block: 4rem;
  text-align: center;
}

.content {
  display: grid;

  @include mix.mobile {
    gap: 4rem;
  }

  @include mix.desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.mini_case {
  padding-inline: 4rem;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  color: var(--clr-primary-400);
}

.description {
  color: var(--clr-neutral-700);
}

.image {
  position: relative;
  width: 9.5rem; /* 150px */
  height: 9.5rem; /* 150px */

  img {
    object-fit: contain;
  }
}
