@use "@/styles/abstract/mixins" as mix;

.no_fees {
  padding-block: 2.5rem;
  background-color: var(--clr-neutral-800);
  text-align: center;
}

.title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--clr-primary-400);
}

.description {
  font-size: 0.9rem;
  color: var(--clr-neutral-700);
}
